*{margin: 0px ; padding: 0px; }

td {
    border-bottom: 1px solid burlywood;
}

th#input,th#output {
    padding: 23px 112px;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: x-large;
    color: chocolate;
}

.col-md-6 {
    background: antiquewhite;
    border-radius: 10px;
    padding:  10px 12px;
}

p#output_content {
    background: burlywood;
    border-radius: unset;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    color: brown;
}

.nut_convert .btn-default {background: aqua;color: blue;font-size: 23px;}

.nut_convert .btn-default:hover {
    background: cornflowerblue;
    color: aliceblue;
}



form#form-search {
    padding: 40px 21px;
    background: #fcfc97;
}

textarea#input_content {
    border: 2px solid darkslateblue;
    width: 50%;
    margin: auto;
    padding: 10px 10px;
}

label {
    font-size: 26px;
    text-align: center;
    padding: 8px 20px;
    display: block;
    margin-bottom: 0px;
    background: burlywood;
}

h3 {
    padding: 32px 85px;
    font-size: 35px;
    text-align: center;
}
.nut_convert .btn-default {
 
    background-color: #004A7F;
   
    -webkit-border-radius: 10px;
   
    border-radius: 10px;
     
    border: none;
     
    color: #FFFFFF;
     
    cursor: pointer;
     
    display: inline-block;
     
    font-family: Arial;
     
    font-size: 20px;
     
    padding: 5px 10px;
     
    text-align: center;
     
    text-decoration: none;
   
  }
  

  